/*Roboto Font Import Style*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/*---BASE WEBSITE CSS---*/

#root {
  font-family: 'Roboto', sans-serif;
  width: auto;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
}

html,
body {
  background: #f2f2f2;
  display: grid;
  place-items: center;
  overflow: hidden;
}

text {
  font-family: 'Roboto', sans-serif;
}

.Stacks {
  width: 100vw;
  padding: 0 2rem;
}

/*---NAVIGATION CSS---*/

/*Spacing for elements below nav*/
.pt-10 {
  padding-top: 5rem;
}

/*Some nav bar stylings*/
.my-nav-bar {
  background-color: #E53935 !important;
}

.my-nav-bar .nav-link {
  color: white !important;
}

.my-nav-bar .navbar-brand {
  color: white !important;
  font-weight: 500;
}

#nav {
  display: none;
}

.nav-link.active {
  text-decoration: underline;
}

/*---LOGIN PAGE UI---*/

#loginLogo {
  background-color: #E53935;
  padding: 20px;
  border-radius: 20px;
}

.loginContainer {
  width: 25vw;
  padding: 2rem;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginContainer text {
  font-size: 18px;
  margin-top: 1rem;
}

.input {
  text-align: left;
  margin-top: 1rem;
}

.input input,
select {
  width: 14rem;
  margin-top: 0.5rem;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
}

.input input:focus {
  border: 2px solid #E53935;
}

.input text {
  font-size: 18px;
  font-weight: 450;
}

#loginBtn,
#addBtn {
  font-family: 'Roboto', sans-serif;
  margin-top: 1rem;
  background: #E53935;
  color: white;
  font-weight: 500;
  padding: 8px 16px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
}

/*---NOT FOUND---*/
#home {
  background-color: #E53935;
  border: none;
  color: white;
  font-weight: 500;
  font-size: large;
  padding: 6px 20px;
  border-radius: 20px;
  outline: none;
}

/*---STUDENT STUFF---*/
/*---Search Bar---*/

#searchBar {
  margin-top: 0.5rem;
  width: 30rem;
  padding: 5px 0;
  background-color: white;
  border: 3px solid #d2d2d2;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

#searchBar input {
  font-size: 20px;
  margin-left: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  width: 70%;
}

#searchBar img {
  margin-left: 3rem;
}

/*---Recently Viewed Containers + Book Info Containers---*/

.viewBooks {
  gap: 5vw;
}

.ViewedBox,
.bookInfo {
  border: 3px solid black;
  border-radius: 20px;
  width: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  cursor: pointer;
}

.displayImg {
  max-width: 200px;
  max-height: 350px;
}

.bookInfo {
  cursor: default;
  position: relative;
}

.viewAll {
  cursor: pointer;
}

.info-text text {
  margin: 2% 0;
}

.actionBtns button {
  background-color: #E53935;
  border: none;
  color: white;
  font-weight: 500;
  padding: 6px 40px;
  border-radius: 20px;
  outline: none;
}

#exitBook {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2%;
  margin-right: 2%;
  border-radius: 3px;
  cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-indicators {
  background-color: rgba(0, 0, 0, 0.2);
}

.ViewedBox img {
  width: 160px;
  max-height: 180px;
  border-radius: 10px;
}

/*---Search Containers/Elements---*/

#filterSearch {
  outline: none;
}

.resultsContainer {
  padding: 15px 20px;
  border: 3px solid black;
  max-width: 320px;
  background: white;
  border-radius: 20px;
}

.resultsImg {
  max-height: 150px;
  border-radius: 10px;
}

.bookResults {
  gap: 5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.noBooks {
  margin: auto;
}

/*---Inventory---*/

.bookInventory {
  gap: 4vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Stacks label {
  cursor: pointer;
}

.stats button {
  background-color: #E53935;
  border: none;
  color: white;
  font-weight: 500;
  width: 140px;
  padding: 6px;
  border-radius: 20px;
  outline: none;
}

#request {
  position: absolute;
  top: 8px;
  margin-left: 2rem;
  cursor: pointer;
}

/*---Notification---*/
.noti {
  border: 1px solid grey;
  border-left: none;
  border-right: none;
}

.notiMsg {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notifications {
  border: 3px solid black;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

/*---Other Actions---*/

.otherContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #d2d2d2;
  margin-top: 5rem;
}

.otherContainer button {
  color: white;
  border: none;
  background: #E53935;
  font-weight: 500;
  font-size: larger;
  padding: 3px 18px;
  border-radius: 20px;
  outline: none;
}

/*---ADMIN STUFF---*/
/*---Add Books---*/

.images {
  width: 14rem;
  margin-top: 0.5rem;
  border: 2px solid grey;
  background: white;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

#bookLocImg,
#bookImgImg {
  text-align: center;
  margin-top: 0.5rem;
}

/*---Audit Logs---*/

.auditBtns button {
  background: white;
  border: 2px solid #d2d2d2;
  color: #E53935;
  font-weight: 500;
  font-size: larger;
  padding: 3px 18px;
  border-radius: 20px;
}

.auditBtns button.active {
  background-color: #E53935;
  color: white;
  border: none;
}

.auditMsg {
  border: 2px solid black;
  background: white;
  font-size: larger;
  padding: 15px 20px;
}